.text-white {
    color: white;
}
.text-gray {
    color: #5e91e0;
}
.text-red {
    color: darkred;
}

.input-span{
    width: 90%;
    .input-text {
        width: 100%;
        height: 43px;
    }
}
